<hr style="border:5px solid #108999"> </hr>

# pandas Basics <hr style="border:4.5px solid #108999"> </hr>

## Installing and Running pandas

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

## Introduction to pandas Series

In [ ]:
import pandas as pd

In [4]:
products = ['A', 'B', 'C', 'D']
products

['A', 'B', 'C', 'D']

In [5]:
type(products)

list

In [6]:
product_categories = pd.Series(products)

In [7]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [8]:
type(product_categories)

pandas.core.series.Series

In [9]:
type(pd.Series(products))

pandas.core.series.Series

In [10]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [11]:
print(daily_rates_dollars)

0    40
1    45
2    50
3    60
dtype: int64

In [12]:
import numpy as np

In [13]:
array_a = np.array([10, 20, 30, 40, 50])
array_a

array([10, 20, 30, 40, 50])

In [14]:
type(array_a)

numpy.ndarray

In [15]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [16]:
print(series_a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [17]:
type(series_a)

pandas.core.series.Series

## Working with Attributes in Python

In [18]:
import pandas as pd

In [19]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [20]:
series_a.dtype

dtype('int64')

In [21]:
series_a.size

5

In [22]:
product_categories = pd.Series(['A', 'B', 'C', 'D'])
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [23]:
product_categories.dtype

dtype('O')

In [24]:
product_categories.size

4

In [25]:
type(product_categories.size)

int

In [28]:
product_categories.name

In [27]:
print(product_categories.name)

None

In [29]:
product_categories.name = "Product Categories"
product_categories

0    A
1    B
2    C
3    D
Name: Product Categories, dtype: object

In [30]:
product_categories.name

'Product Categories'

In [31]:
print(product_categories.name)

Product Categories

## Using an Index in pandas

In [32]:
import pandas as pd

In [33]:
prices_per_category = {'Product A': 22250, 'Product B' : 16600, 'Product C':15600}
prices_per_category

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [34]:
type(prices_per_category)

dict

In [35]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [36]:
type(prices_per_category)

pandas.core.series.Series

In [37]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [38]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

## Label-based vs Position-based Indexing

In [39]:
import pandas as pd

In [40]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [41]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [42]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [43]:
list(series_a.index)

[0, 1, 2, 3, 4]

In [ ]:
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':12500})
prices_per_category

In [ ]:
prices_per_category.index

In [ ]:
type(prices_per_category.index)

## More on Working with Indices in Python

In [44]:
import pandas as pd

In [45]:
series_a = pd.Series([10, 20, 30, 40, 50])
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':12500})

In [46]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [49]:
series_a[0]

10

In [50]:
series_a[1]

20

In [51]:
prices_per_category

Product A    22250
Product B    16600
Product C    12500
dtype: int64

In [ ]:
prices_per_category['Product A']

In [52]:
# prices_per_category[0]
# prices_per_category[1]
prices_per_category[2]

12500

In [53]:
series_b = pd.Series([10, 20, 30, 40, 50], index = [1, 2, 3, 4, 5])
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [56]:
series_b[0]

KeyError: 0

In [ ]:
series_b[1]

In [ ]:
series_c = pd.Series([10, 20, 30, 40, 50], index = ["1", "2", "3", "4", "5"])
series_c

In [ ]:
series_c[1]

In [ ]:
series_c["1"]

In [ ]:
series_c[0]

In [ ]:
prices_per_category

## Using Methods in Python - Part I

In [1]:
import pandas as pd

In [2]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [3]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [4]:
start_date_deposits.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64>

In [5]:
start_date_deposits.sum()

29500

In [6]:
start_date_deposits.min()

1000

In [7]:
start_date_deposits.max()

4000

In [8]:
start_date_deposits.idxmax()

'9/3/2015'

In [9]:
start_date_deposits.idxmin()

'12/8/2012'

## Using Methods in Python - Part II

In [10]:
import pandas as pd

In [11]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [12]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [13]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [14]:
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

## Parameters vs Arguments

In [15]:
import pandas as pd

In [16]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [17]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [18]:
start_date_deposits.head(3)

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

In [19]:
start_date_deposits.head(10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

In [21]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [ ]:
start_date_deposits.head(n=10)

## The pandas Documentation

In [22]:
import pandas as pd

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [ ]:
start_date_deposits.sum()

In [ ]:
start_date_deposits.head()

In [ ]:
start_date_deposits.head(10)

In [ ]:
start_date_deposits.sum()

## Introduction to pandas DataFrames

In [3]:
import pandas as pd

## Creating DataFrames from Scratch

<u>**#1: Construct a DataFrame from a dictionary of lists**</u>

In [4]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [5]:
data = {'ProductName':['Product A', 'Product B', 'Product C', 'Product D'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

<u>**#2: Construct a DataFrame from a dictionary of lists + specify an index**</u>

In [26]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [27]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

<u>**#3: Construct a DataFrame from a list of dictionaries**<u/>

In [2]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [3]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':[12500, 100000]}]
df = pd.DataFrame(data)
df

  ProductName     ProductPrice
0   Product A            22250
1   Product B            16600
2   Product C  [12500, 100000]

In [6]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500},
        {'ProductName':'Product D'}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16600.0
2   Product C       12500.0
3   Product D           NaN

<u>**#4: Construct a DataFrame from a dictionary of pandas Series**<u/>

In [ ]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

In [ ]:
data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

In [ ]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

In [ ]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

<u>**#5: Construct a DataFrame from a list of lists**<u/>

In [ ]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

In [ ]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500, 5000]]
df = pd.DataFrame(data)
df

In [ ]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

In [ ]:
df.columns = ['ProductName', 'ProductPrice']
df

In [ ]:
df.index = ['A', 'B', 'C']
df

<u>**#6: Construct a DataFrame in a Professional Way**<u/>

In [ ]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]], 
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A', 'B', 'C'])
df

In [ ]:
df.shape